[Desktop Entry]
Name=GQuickTweet
Comment=Gadget for quickly sending tweets 
TryExec=gquicktweet
Exec=gquicktweet
Icon=gqt_logo
Type=Application
Categories=Network;Twitter Client;
StartupNotify=true
